/************************************************************/
.rankContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #c2c2c2;
    color: #c2c2c2;
}

th,
td {
    padding: 8px;
    text-align: left;
    font-size: 1.5rem;
    color: 'white';
}

tr:nth-child(even) {
    background-color: #545454;
}

th {
    background-color: #CC69F5;
    color: white;
}



.myButton {
    background-color: #1E0D31;
    border-radius: 4px;
    border: 1px solid #4e6096;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 10px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #283966;
}

.myButton:hover {
    background-color: #476e9e;
}

.myButton:active {
    position: relative;
    top: 1px;
}